	<!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 ">
                    <p class="footer__coppy">2018 &copy; Copyright <a href="#">Awe7</a>. All rights Reserved. More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
                </div>
                <div class="col-md-6 col-lg-6 ">
                    <div class="footer__social">
                        
                        <!-- social-icon -->
                        <a class="social-icon" href="#"><i class="social-icon__icon fa fa-facebook"></i>
                        </a><!-- End / social-icon -->
                        
                        
                        <!-- social-icon -->
                        <a class="social-icon" href="#"><i class="social-icon__icon fa fa-twitter"></i>
                        </a><!-- End / social-icon -->
                        
                        
                        <!-- social-icon -->
                        <a class="social-icon" href="#"><i class="social-icon__icon fa fa-linkedin"></i>
                        </a><!-- End / social-icon -->
                        
                        
                        <!-- social-icon -->
                        <a class="social-icon" href="#"><i class="social-icon__icon fa fa-behance"></i>
                        </a><!-- End / social-icon -->
                        
                        
                        <!-- social-icon -->
                        <a class="social-icon" href="#"><i class="social-icon__icon fa fa-vimeo"></i>
                        </a><!-- End / social-icon -->
                        
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End / footer -->
    
</div>
<!-- Vendors-->
<script type="text/javascript" src="/assets/vendors/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/assets/vendors/imagesloaded/imagesloaded.pkgd.js"></script>
<script type="text/javascript" src="/assets/vendors/isotope-layout/isotope.pkgd.js"></script>
<script type="text/javascript" src="/assets/vendors/jquery-one-page/jquery.nav.min.js"></script>
<script type="text/javascript" src="/assets/vendors/jquery.easing/jquery.easing.min.js"></script>
<script type="text/javascript" src="/assets/vendors/jquery.matchHeight/jquery.matchHeight.min.js"></script>
<script type="text/javascript" src="/assets/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="/assets/vendors/masonry-layout/masonry.pkgd.js"></script>
<script type="text/javascript" src="/assets/vendors/jquery.waypoints/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="/assets/vendors/swiper/swiper.jquery.js"></script>
<script type="text/javascript" src="/assets/vendors/menu/menu.js"></script>
<script type="text/javascript" src="/assets/vendors/typed/typed.min.js"></script>
<!-- App-->
<script type="text/javascript" src="/assets/js/main.js"></script>
</body>
</html>