<%include ./header.html%>
			
			<!-- Content-->
			<div class="wil-content">
				
				<!-- Section -->
				<section class="awe-section">
					<div class="container">
						
						<!-- page-title -->
						<div class="page-title pb-40">
							<h2 class="page-title__title">用户中心首页</h2>
							<p class="page-title__text">欢迎您:<%=username%></p>
							<div class="page-title__divider"></div>
						</div><!-- End / page-title -->
						
					</div>
				</section>
				<!-- End / Section -->
				
				
				<!-- Section -->
				<section class="awe-section bg-gray">
					<div class="container">
						用户首页
					</div>
				</section>
				<!-- End / Section -->
				
			</div>
			<!-- End / Content-->
			
<% include ./footer.html%>